<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Image Details</title>
	</head>
	<body>
		<h1><b>480Chan - Image Board!<b></h1>
			<br>
			<br>
      <form method="POST" action="/delete/{{post._id}}">
        {{#each images}}
        <input type="checkbox" name="checkbox-1" />
        <span>{{this.caption}}</span>
        <br/>
        <img src = "{{this.url}}" alt = "">
        {{/each}}

        <button type = "Submit">Erase images</button>
      </form>

      <form method = "POST" action = "/add/post">
        Image URL: <input type = "text" name = "url" />
        Caption: <input type = "text" name = "caption"/>

        <button type = Submit>Add images</button>
      </form>

	</body>
</html>
