<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
		<h1><center><b>480Chan - Image Board!<b><center></h1>
			<br>
			<br>
      <form method="GET" action="/image-posts">
        <center>Image Post Title: <input type="text" name="image-posts" required/>
					<br>
					<br>
					Image 1 URL: <input type="text" name="image-posts" required/>
					<br>
					<br>
					Image 2 URL: <input type="text" name="image-posts" required/>
					<br>
					<br>
					Image 3 URL: <input type="text" name="image-posts" required/>
					<br>
					<br>
  			<input type="submit" value="Add a New Image Post" /><center>
  		</form>
      <br>

			<form method="POST" action="/image-posts">

				<ul style="list-style-type: none;">
  		</ul>
      <a href="/image-posts"><center>Home<center></a>

	</body>
</html>
